*{
    margin: 0;
    padding: 0;
}

div#divis1{
    width: 100%;
    height: 80px;
    background-color: #2c3e50;
}

div#divis2{
    width: 100%;
    height: 620px;
    background-color: #18bc9c;
}

div#divis3{
    margin-top: 780px;
    width: 100%;
    height: 500px;
    background-color: #18bc9c;
}