*{
    margin: 0;
    padding: 0;
}

:root{
    --colorTextos: #6a6d707a;
}

.contenedor{
    padding-inline-start: 0%;
    padding-inline-end: 0%;
    padding: 0px 0px;
}

.divis1{
    width: 100%;
    height: 80px;
    background-color: #2c3e50;
}

.divis2{
    width: 100%;
    height: 620px;
    background-color: #18bc9c;
}

.divis3{
    margin-top: 780px;
    width: 100%;
    height: 500px;
    background-color: #18bc9c;
}

.divis4{
    margin-top: 800px;
    width: 100%;
    height: 300px;
    background-color: #212529;
}

h1#titcab{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;
    top: 20px;
    left: 107px;
}

h3#opc1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;
    top: -11px;
    left: 900px;
}

h3#opc2{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;
    top: -34px;
    left: 1040px;
}

h3#opc3{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;
    top: -57px;
    left: 1135px;
}

.divis2 img{
    position: relative;
    width: 175px;
    height: 175px;
    top: 130px;
    left: 635px;
}

h1#titdiv2{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;
    top: 160px;
    left: 400px;
    font-size: 60px;
}

h4#descdiv2{
    font-family: 'Lato', sans-serif;
    color: white;
    position: relative;
    top: 260px;
    left: 500px;
}

img#star{
    position: relative;
    width: 220px;
    height: 30px;
    top: 180px;
    left: 620px;
}

h1#titmed{
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    position: relative;
    top: 120px;
    left: 557px;
    font-size: 50px;
}

img#star2{
    position: relative;
    width: 270px;
    height: 50px;
    top: -80px;
    left: 580px;
}

img#a{
    position: relative;
    width: 350px;
    height: 250px;
    top: 180px;
    left: -115px;
}

img#b{
    position: relative;
    width: 350px;
    height: 250px;
    top: 180px;
    left: -90px;
}

img#c{
    position: relative;
    width: 350px;
    height: 250px;
    top: 180px;
    left: -65px;
}

img#d{
    position: relative;
    width: 350px;
    height: 250px;
    top: 205px;
    left: 158px;
}

img#e{
    position: relative;
    width: 350px;
    height: 250px;
    top: 205px;
    left: 184px;
}

img#f{
    position: relative;
    width: 350px;
    height: 250px;
    top: 205px;
    left: 210px;
}

h1#titmed2{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;
    top: 80px;
    left: 600px;
    font-size: 50px;
}

.divis3 img{
    position: relative;
    width: 290px;
    height: 50px;
    top: 80px;
    left: 552px;
}

.divis3 p{
    font-family: 'Lato', sans-serif;
    color: white;
}

p#parr1{
    position: relative;
    top: 80px;
    left: 318px;
    font-size: 20px;
}

p#parr2{
    position: relative;
    top: -63px;
    left: 710px;
    font-size: 20px;
}

.divis3 button{
    position: relative;
    width: 230px;
    height: 45px;
    top: 20px;
    left: 580px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
    background-color: #18bc9c;
    border: 2px solid;
    border-radius: 5px;
}

.divis3 button:hover{
    color: white;
    background-color: #212529;
}

h1#titcon{
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    position: relative;
    top: 50px;
    left: 560px;
    font-size: 40px;
}

img#subcon{
    width: 250px;
    height: 50px;
    position: relative;
    top: 50px;
    left: 580px;
}

form .campos{
    align-items: center;
    position: relative;
    top: 100px;
    left: 200px;
    margin: 40px;
}

input{
    background: none;
    color: white;
    font-size: 29px;
    padding: 20px 20px 10px 15px;
    display: block;
    width: 650px;
    border: none;
    border-bottom: 3px solid var(--colorTextos);
}

input:focus{
    font-family: 'Lato', sans-serif;
    outline: none;
    color: #212529;
}

label{
    color: #5a5a5a73;
    font-family: 'Lato', sans-serif;
    font-size: 29px;
    position: absolute;
    bottom: 0;
    left: 5px;
    top: 20px;
    transition: 0.4s ease-in-out all;
    pointer-events: none;
}

input:focus~label{
    top: -14px;
    font-size: 18px;
    color: #212529;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.form button{
    position: relative;
    width: 100px;
    height: 70px;
    top: 160px;
    left: 240px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
    background-color: #18bc9c;
    border: 2px solid;
    border-radius: 5px;
}

.divis4 h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;
    text-align: center;
    font-size: 25px;
}

.divis4 p{
    font-family: 'Lato', sans-serif;
    color: white;
    position: relative;
    text-align: center;
}

h1#t1{
    top: 51px;
    right: 373px;
}

h1#t2{
    top: 21px;
    right: 45px;
}

h1#t3{
    top: -10px;
    left: 320px;
}

p#p1{
    top: 28px;
    left: -375px;
}

p#p2{
    top: -10px;
    left: 320px;
}

p#p3{
    top: 80px;
    left: -45px;
}

.redes{
    width: 300px;
    height: 60px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -1000px;
    left: 479px;
}

.redes .fab{
    margin: 0 4px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #212529;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
}

.redes .icon1:hover{
    background-color: #3b5998;
}

.redes .icon2:hover{
    background-color: #ee0800;
}

.redes .icon3:hover{
    background-color: #00acee;
}

.redes .icon4:hover{
    background-color: #2e3352;
}

.redes .icon5:hover{
    background-color: #d80792;
}