*{
    margin: 0;
    padding: 0;
}

:root{
    --colorTextos: #6a6d707a;
}

/* PRIMER DIVISOR */

.divis1{
    width: 100%;
    height: 80px;
    background-color: #2c3e50;
}

h1#titcab{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    top: 20px;
    left: 107px;

}

.divis1 h3{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 30px;
}

h3#opc1{
    right: 410px;
}

h3#opc2{
    right: 300px;
}

h3#opc3{
    right: 170px;
}

/* SEGUNDO DIVISOR */

.divis2{
    width: 100%;
    height: 620px;
    background-color: #18bc9c;
}

.divis2 img{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 210px;
    left: 625px;
}

.divis2 h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 60px;
    position: absolute;
    top: 530px;
    left: 450px;
}

.divis2 h4{
    font-family: 'Lato', sans-serif;
    color: white;
    position: absolute;
    top: 630px;
    left: 550px;
}

img#star{
    position: absolute;
    width: 220px;
    height: 40px;
    top: 593px;
    left: 660px;
}

/* PRIMER ESPACIO EN BLANCO */

h1#titmed{
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    position: absolute;
    top: 800px;
    left: 557px;
    font-size: 60px;
}

img#star2{
    width: 330px;
    height: 60px;
    position: absolute;
    top: 867px;
    left: 580px;
}

.grup1 img{
    width: 370px;
    height: 200px;
    position: absolute;
    top: 930px;
}

.grup2 img{
    width: 370px;
    height: 200px;
    position: absolute;
    top: 1150px;
}

img#a{
    left: 140px;
}

img#b{
    left: 530px;
}

img#c{
    left: 920px;
}

img#d{
    left: 140px;
}

img#e{
    left: 530px;
}

img#f{
    left: 920px;
}


/* TERCER DIVISOR */

.divis3{
    margin-top: 780px;
    width: 100%;
    height: 500px;
    background-color: #18bc9c;
}

.divis3 h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    top: 1570px;
    left: 620px;
    font-size: 50px;
}

.divis3 img{
    position: absolute;
    width: 290px;
    height: 50px;
    top: 1626px;
    left: 570px;
}

.divis3 p{
    font-family: 'Lato', sans-serif;
    color: white;
    position: absolute;
    top: 1690px;
    font-size: 20px;
}

p#parr1{
    left: 333px;
}

p#parr2{
    left: 725px;
}

.divis3 button{
    position: absolute;
    width: 230px;
    height: 45px;
    top: 1860px;
    left: 600px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
    background-color: #18bc9c;
    border: 2px solid;
    border-radius: 5px;
}

.divis3 button:hover{
    color: white;
    background-color: #212529;
}

/* SEGUNDO ESPACIO EN BLANCO */

.espa2{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1#titcon{
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    position: absolute;
    top: 2078px;
    left: 570px;
    font-size: 40px;
}

img#subcon{
    width: 230px;
    height: 40px;
    position: absolute;
    top: 2120px;
    left: 600px;
}

form{
    background: none;
    padding: 40px 0;
    box-shadow: 0 0 0 0 rgba(100, 50, 200, 0.8);
}

.form{
    width: 100%;
    margin: auto;
}

form .formulario{
    position: relative;
    margin: 45px;
    top: 400px;
    right: 4px;
}

input{
    background: none;
    color: #c6c6c6;
    font-size: 30px;
    padding: 20px 20px 2px 5px;
    display: block;
    width: 700px;
    border: none;
    border-bottom: 2px solid var(--colorTextos);
}

input:focus{
    font-family: 'Lato', sans-serif;
    outline: none;
    color: #212529;
}

label{
    font-family: 'Lato', sans-serif;
    color: rgba(94, 92, 92, 0.63);
    font-size: 30px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}

input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 18px;
    color: #212529;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

form button{
    width: 80px;
    height: 50px;
    position: absolute;
    top: 2700px;
    left: 310px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
    border: 2px solid;
    border-radius: 5px;
    background-color: #18bc9c;
}

form button:hover{
    color: white;
    background-color: #212529;
}

/* CUARTO DIVISOR */

.divis4{
    margin-top: 800px;
    width: 100%;
    height: 300px;
    background-color: #212529;
}

.divis4 h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    top: 2900px;
    font-size: 25px;
}

.divis4 p{
    font-family: 'Lato', sans-serif;
    color: white;
    position: absolute;
    top: 2940px;
}

h1#t1{
    left: 300px;
}

h1#t2{
    left: 550px;
}

h1#t3{
    left: 900px;
}

p#p1{
    text-align: center;
    left: 287px;
}

p#p2{
    text-align: center;
    left: 908px;
}

p#p3{
    font-family: 'Lato', sans-serif;
    color: white;
    position: absolute;
    top: 3110px;
    left: 560px;
}

.redes{
    width: 300px;
    height: 60px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2940px;
    left: 525px;
}

.redes .fab{
    margin: 0 4px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #212529;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
}

.redes .icon1:hover{
    background-color: #3b5998;
}

.redes .icon2:hover{
    background-color: #ee0800;
}

.redes .icon3:hover{
    background-color: #00acee;
}

.redes .icon4:hover{
    background-color: #2e3352;
}

.redes .icon5:hover{
    background-color: #d80792;
}