*{
    margin: 0;
    padding: 0;
}

.divis1{
    width: 100%;
    height: 80px;
    background-color: #2c3e50;
}

.divis2{
    width: 100%;
    height: 620px;
    background-color: #18bc9c;
}

.divis3{
    margin-top: 780px;
    width: 100%;
    height: 500px;
    background-color: #18bc9c;
}

.divis4{
    margin-top: 800px;
    width: 100%;
    height: 300px;
    background-color: #212529;
}

h1#titcab{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;
    top: 20px;
    left: 107px;
}

h3#opc1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;
    top: -11px;
    left: 900px;
}

h3#opc2{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;
    top: -34px;
    left: 1040px;
}

h3#opc3{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;
    top: -57px;
    left: 1135px;
}

.divis2 img{
    position: relative;
    width: 175px;
    height: 175px;
    top: 130px;
    left: 635px;
}

h1#titdiv2{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;
    top: 160px;
    left: 400px;
    font-size: 60px;
}

h4#descdiv2{
    font-family: 'Lato', sans-serif;
    color: white;
    position: relative;
    top: 260px;
    left: 500px;
}

img#star{
    position: relative;
    width: 220px;
    height: 30px;
    top: 180px;
    left: 620px;
}